
 /* Media query for tablets and larger screens */
 @media (max-width: 1024px) {
    .four_Layout_Header {
        grid-template-columns: repeat(2, 1fr); 
    }
    .browser_type_Category_header{
        grid-template-columns: repeat( 3 , 1fr);
    }
    .two_Layout_Header{
        flex-direction: column;
    }
    .two_Layout_Header > div{
        width: 100%;
    }
    .SignUp{
        margin-left: 0px;
    }
  
    .download_app_header{
        flex-direction: column;
        width: 100%;
    }
    .download_app_header > div{
        width: 80%;
    }
    .pt-40{
        padding-top: 40px;
    }
    .footer_link_header{
        grid-template-columns: repeat(3, 1fr);
      }
}

/* Media query for mobile phones */
@media (max-width: 640px) {
    .four_Layout_Header {
        grid-template-columns: 1fr; 
    }
    .browser_type_Category_header{
        grid-template-columns: repeat( 2 , 1fr);
    }
    .checkBtn{
        display: block;
    }
    nav > ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 50px;
    padding: 40px 0px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
    nav > ul > li {
        display: block;
        line-height: 50px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .footer_link_header{
        grid-template-columns: repeat(2, 1fr);
      }
}