/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
  }
  html{
    font-size: 16px;
  }

.header{
    max-width: 1440px;
    width: 80%;
    margin: 50px auto;
}
.mt-10{
    margin-top: 10px;
}

/*  */
.browser_type_Category_header{
    display: grid;
    grid-template-columns: repeat( 6 , 1fr);
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 60px; 
}
.browser_type_Category{
    border: 2px solid gray;
    padding: 20px 5px;
    text-align: center;
}
.icon{
    font-size: 30px;
}
.four_Layout_Header{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    padding-top: 20px;
}
.Our_Team_section img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.online_in_person_textarea button{
    padding: 10px 15px;
    color: #fff;
    background-color: #131318;
    border: none;
    border-radius: 10px;
    display: inline;
}

.online_in_person_textarea h1{
    line-height: 40px;
    margin-bottom: 20px;
}
.online_in_person_textarea p{
    margin-bottom: 20px;
}

.two_Layout_Header{
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 20px;
}
.two_Layout_Header > div{
    width: 50%;
}
.online_in_person_imgarea img{
    width: 100%;
    border-radius: 20px;
    background-size: cover;
}
.SignUp{
    background-color: #fff;
    border: 1px solid gray;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 100px;
}
.SignUp button{
    background-color: #131318;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
}
.SignUp input{
    padding: 10px 0;
    outline: none;
    border: none;
    flex: 1;
}

.Inspiration_header button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 20px;
}

.Finding_car{
    background:  linear-gradient(rgb(0, 0, 0), rgba(24, 23, 23, 0.3)),
    url("image/japan-2014617_1280.jpg") no-repeat center center;
    background-size: cover;
    height: 450px;
   display: flex;
   align-items: center;
    color: #fff;
}
.Finding_car > div{
    width: 75%;
    margin: 0 auto;
}
.Finding_car > div h1{
    font-size: 40px;
}
.Finding_car button{
    background: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 20px;
}
.download_app_section{
    display: flex;
    width: 90%;
    max-width: 1540px;
    margin: 0 auto;
    background: rgba(0, 145, 255, 0.107);
    min-height: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.download_app_header{
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.download_app_header > div{
    gap: 20px;
    width: 50%;

}
.download_app_header p{
    margin-top: 20px;
}
.download_btn_header button{
    max-width: 100px;
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
}
.Download_img{
    width: 100%;
    height: 40px;
}
.download_image_area{
    display: flex;
    justify-content: center;
}