/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
  }
  html{
    font-size: 16px;
  }
button{
    cursor: pointer;
}
.header{
    max-width: 1440px;
    width: 80%;
    margin: 80px auto;
}
a{
    color: #131318;
    text-decoration: none;
}
li{
    margin-top: 10px;
    list-style: none;
}
nav{
    width: 100%;
    padding: 0 40px 10px;
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    position: absolute;
    left: 50%;
    right: 50%;
    border-bottom: 2px solid gray;
    transform: translateX(-50%);
    z-index: 999;
}
nav > ul {
    gap: 20px;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
  color: #fff;
  padding: 8px;
  font-size: 18px;
}
#check{
    display: none;
}
nav > ul > li > a:hover{
    color: #07f1f5;
    transition: 0.5s;
}
.checkBtn{
    font-size: 30px;
    cursor: pointer;
    display: none;

}
.mt-10{
    margin-top: 10px;
}
.browser_type_Category_header{
    display: grid;
    grid-template-columns: repeat( 6 , 1fr);
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 60px; 
}
.browser_type_Category{
    border: 2px solid gray;
    padding: 20px 5px;
    text-align: center;
}
.icon{
    font-size: 30px;
}
.four_Layout_Header{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    padding-top: 20px;
}
.Our_Team_section img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.online_in_person_textarea button{
    padding: 10px 15px;
    color: #fff;
    background-color: #131318;
    border: none;
    border-radius: 10px;
    display: inline;
}

.online_in_person_textarea h1{
    line-height: 40px;
    margin-bottom: 20px;
}
.online_in_person_textarea p{
    margin-bottom: 20px;
}

.two_Layout_Header{
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 20px;
}
.two_Layout_Header > div{
    width: 50%;
}
.online_in_person_imgarea img{
    width: 100%;
    border-radius: 20px;
    background-size: cover;
}
.SignUp{
    background-color: #fff;
    border: 1px solid gray;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 100px;
}
.SignUp button{
    background-color: #131318;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
}
.SignUp input{
    padding: 10px 0;
    outline: none;
    border: none;
    flex: 1;
}

.Inspiration_header button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 20px;
}

.Finding_car{
    background:  linear-gradient(rgb(0, 0, 0), rgba(24, 23, 23, 0.3)),
    url("image/japan-2014617_1280.jpg") no-repeat center center;
    background-size: cover;
    height: 450px;
   display: flex;
   align-items: center;
    color: #fff;
}
.Finding_car > div{
    width: 75%;
    margin: 0 auto;
}
.Finding_car > div h1{
    font-size: 40px;
}
.Finding_car button{
    background: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 20px;
}
.download_app_section{
    display: flex;
    width: 90%;
    max-width: 1540px;
    margin: 0 auto;
    background: rgba(0, 145, 255, 0.107);
    min-height: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.download_app_header{
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.download_app_header > div{
    gap: 20px;
    width: 50%;

}
.download_app_header p{
    margin-top: 20px;
}
.download_btn_header button{
    max-width: 100px;
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
}
.Download_img{
    width: 100%;
    height: 40px;
}
.download_image_area{
    display: flex;
    justify-content: center;
}

swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide_header{
    width: 50%;
    color: #fff;
  }
  swiper-slide .slide {
    width: 100%;
    min-height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .slide_header h1{
    margin-bottom: 10px;
  }
  .slide_header span{
    margin-right: 10px;
  }
  .slide_header button{
    padding: 10px 20px;
    display: block;
    margin-top: 20px;
    border-radius: 10px;
  }
  swiper-slide .slide1 {
    background:  linear-gradient(rgba(19, 19, 19, 0.457), rgba(24, 23, 23, 0.221)),
    url("image/istockphoto-1150931120-612x612.jpg") no-repeat center center;
    background-size: cover;
  }
  swiper-slide .slide2 {
    background: linear-gradient(rgba(19, 19, 19, 0.664), rgba(6, 6, 6, 0.221)),
    url("image/istockphoto-1410978545-612x612.jpg") no-repeat center center;
    background-size: cover;
  }
  swiper-slide .slide3 {
    background:  linear-gradient(rgba(19, 19, 19, 0.664), rgba(6, 6, 6, 0.221)),
    url("image/istockphoto-1473771646-612x612.jpg") no-repeat  center;
    background-size: cover;
  }

  .border-b{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
  }
  
  .footer_link_header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
  .footer_link_header p{
    padding-top: 10px;
  }
  .copyRightSection{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1440px;
    margin: 20px auto;
  }
  .copyRightSection ul{
    display: flex;
    gap: 30px;
  }
  .copyRightSection ul li:nth-child(2){
        list-style:disc ;
  }
  .border{
    border: 1px solid gray;
    margin: 0;
    padding: 0;
  }